/*Gallery BAR*/

.gallery-bar {
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.search-bar {
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  padding-inline-end: 10px;
}

.search-bar input {
  flex: 1;
  height: 100%;
  font-size: 1.25rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 1rem;
  background-color: #22252e;
  border: 3px rgb(0, 0, 0) solid;
  padding: 10px;
  color: white;
}

.keyword-filter {
  flex: 2;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  letter-spacing: 1px;
  /* padding: 5px; */

  background-color: rgb(74, 171, 167);
  border-radius: 1rem;
  border: 3px rgb(0, 0, 0) solid;
}

.keyword-filter span {
  font-size: 1em;
  margin: 10px;
  cursor: pointer;
}

/* GALLERY */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
  gap: 5px;
  justify-items: center;
  justify-content: space-evenly;
  margin: 15px;
  background-color: #383b44;
  padding: 10px;
  border-radius: 7px;
  transition: 0.5s;
}

.gallery > * {
  height: 100%;
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.gallery img:hover {
  transform: scale(1.1);
  box-shadow: white 0 0 0px 3px;
}
